body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1016px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:648px;
}
#u3759_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:648px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:23px;
  width:544px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u3761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
  color:#3311D4;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:23px;
  width:73px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
  color:#3311D4;
}
#u3762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u3763 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:23px;
  width:288px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u3763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3759_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:648px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3759_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:581px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:1016px;
  height:581px;
  display:flex;
  color:#FFFFFF;
}
#u3764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#E80098;
}
#u3765 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:99px;
  width:178px;
  height:38px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#E80098;
}
#u3765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
  text-align:right;
}
#u3766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:67px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
  text-align:right;
}
#u3766 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u3767 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:31px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u3767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u3768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:83px;
  height:20px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u3768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:221px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3769 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:138px;
  width:936px;
  height:221px;
  display:flex;
}
#u3769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3769_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:221px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 26, 187, 1);
  border-radius:15px;
  -moz-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3769.mouseOver {
}
#u3769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#626262;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3770_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#626262;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#626262;
  text-align:center;
}
#u3770 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:151px;
  width:159px;
  height:35px;
  display:flex;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#626262;
  text-align:center;
}
#u3770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3770_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#626262;
  text-align:center;
}
#u3770.disabled {
}
#u3771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#689DBD;
  text-align:right;
}
#u3771 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:203px;
  width:209px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#689DBD;
  text-align:right;
}
#u3771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:207px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#DD471F;
  text-align:right;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:234px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#DD471F;
  text-align:right;
}
#u3773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:238px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:268px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00AA13;
  text-align:right;
}
#u3776 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:266px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00AA13;
  text-align:right;
}
#u3776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3777 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:299px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF2400;
  text-align:right;
}
#u3778 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:297px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF2400;
  text-align:right;
}
#u3778 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3779 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:328px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B276E;
  text-align:right;
}
#u3780 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:326px;
  width:251px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B276E;
  text-align:right;
}
#u3780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 254, 254, 1);
  border:none;
  border-left:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3781 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:142px;
  width:43px;
  height:28px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3781 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 254, 254, 1);
  border:none;
  border-right:0px;
  border-radius:15px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:142px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3782 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:25px;
  width:83px;
  height:34px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u3783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3783_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u3783.mouseOver {
}
#u3783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 254, 254, 1);
  border:none;
  border-left:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:432px;
  width:43px;
  height:28px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3784 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:229px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:385px;
  width:936px;
  height:229px;
  display:flex;
}
#u3785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3785_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:229px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 26, 187, 1);
  border-radius:15px;
  -moz-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:10px 10px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:10px 10px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3785.mouseOver {
}
#u3785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#626262;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3786_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#626262;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#626262;
  text-align:center;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:404px;
  width:145px;
  height:35px;
  display:flex;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#626262;
  text-align:center;
}
#u3786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3786_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan Regular', '2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#626262;
  text-align:center;
}
#u3786.disabled {
}
#u3787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#689DBD;
  text-align:right;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:450px;
  width:209px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#689DBD;
  text-align:right;
}
#u3787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:454px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#DD471F;
  text-align:right;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:481px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#DD471F;
  text-align:right;
}
#u3789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:485px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:515px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00AA13;
  text-align:right;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:513px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#00AA13;
  text-align:right;
}
#u3792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:546px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF2400;
  text-align:right;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:544px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF2400;
  text-align:right;
}
#u3794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:575px;
  width:11px;
  height:11px;
  display:flex;
  font-size:12px;
}
#u3795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B276E;
  text-align:right;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:573px;
  width:251px;
  height:18px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B276E;
  text-align:right;
}
#u3796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 254, 254, 1);
  border:none;
  border-left:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:425px;
  width:43px;
  height:28px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3797 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 254, 254, 1);
  border:none;
  border-right:0px;
  border-radius:15px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:425px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#626262;
  text-align:center;
}
#u3798 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A408BF;
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:261px;
  width:98px;
  height:30px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A408BF;
}
#u3799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3799_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A408BF;
}
#u3799.mouseOver {
}
#u3799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#A408BF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3800_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#A408BF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A408BF;
  text-align:center;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:261px;
  width:151px;
  height:30px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A408BF;
  text-align:center;
}
#u3800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3800_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A408BF;
  text-align:center;
}
#u3800.disabled {
}
#u3801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 99, 214, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:261px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3801_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(244, 99, 214, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(98, 98, 98, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3801.mouseOver {
}
#u3801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
