body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:779px;
}
#u2904_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:779px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2904_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:29px;
  width:544px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u2906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:29px;
  width:73px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
}
#u2907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:29px;
  width:288px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u2908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2904_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:779px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2904_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:779px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:779px;
  display:flex;
}
#u2909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.996078431372549);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:257px;
  width:196px;
  height:45px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2910_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.996078431372549);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2910.mouseOver {
}
#u2910_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(2, 167, 240, 0.996078431372549);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2910.selected {
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
