body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1179px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:932px;
}
#u5551_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:932px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5551_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u5553 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:10px;
  width:544px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u5553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
  color:#3311D4;
}
#u5554 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:10px;
  width:73px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
  color:#3311D4;
}
#u5554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u5555 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:10px;
  width:288px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u5555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5551_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:932px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5551_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:57px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:57px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5556 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:817px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:1179px;
  height:817px;
  display:flex;
  color:#000000;
}
#u5557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:688px;
}
#u5558 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:169px;
  width:1019px;
  height:688px;
  display:flex;
}
#u5558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#828181;
}
#u5559 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:128px;
  width:74px;
  height:38px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#828181;
}
#u5559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u5560 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:1147px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0305609934155591deg);
  -moz-transform:rotate(-0.0305609934155591deg);
  -ms-transform:rotate(-0.0305609934155591deg);
  transform:rotate(-0.0305609934155591deg);
}
#u5560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:1147px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0305609934155591deg);
  -moz-transform:rotate(-0.0305609934155591deg);
  -ms-transform:rotate(-0.0305609934155591deg);
  transform:rotate(-0.0305609934155591deg);
}
#u5561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:79px;
  width:45px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5562_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5562.mouseOver {
}
#u5562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:79px;
  width:21px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:79px;
  width:71px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5564_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5564.mouseOver {
}
#u5564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:79px;
  width:110px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5566_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5566.mouseOver {
}
#u5566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:79px;
  width:114px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5568_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5568.mouseOver {
}
#u5568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:79px;
  width:24px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:79px;
  width:89px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5570_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5570.mouseOver {
}
#u5570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:79px;
  width:60px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5572_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5572.mouseOver {
}
#u5572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:79px;
  width:21px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:79px;
  width:40px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5574_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5574.mouseOver {
}
#u5574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:76px;
  width:84px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5576_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5576.mouseOver {
}
#u5576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:76px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u5578 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:167px;
  width:349px;
  height:186px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u5578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5579_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5579_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:197px;
  width:64px;
  height:16px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
}
#u5579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5579_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
}
#u5579.disabled {
}
#u5580_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5580_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
  text-align:right;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:197px;
  width:26px;
  height:12px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
  text-align:right;
}
#u5580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5580_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
  text-align:right;
}
#u5580.disabled {
}
#u5581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:359px;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:367px;
  width:302px;
  height:359px;
  display:flex;
}
#u5581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:733px;
  width:144px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(121, 39, 162, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:887px;
  width:170px;
  height:45px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:298px;
  height:19px;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:357px;
  width:289px;
  height:1px;
  display:flex;
  color:#FF0000;
}
#u5584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5585_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F90000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5585_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F90000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:345px;
  width:84px;
  height:22px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5585_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5585.disabled {
}
#u5586_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:357px;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:373px;
  width:1px;
  height:348px;
  display:flex;
  -webkit-transform:rotate(-0.107827630545821deg);
  -moz-transform:rotate(-0.107827630545821deg);
  -ms-transform:rotate(-0.107827630545821deg);
  transform:rotate(-0.107827630545821deg);
  color:#FD0000;
}
#u5586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:538px;
  width:72px;
  height:19px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:156px;
  background:inherit;
  background-color:rgba(238, 240, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:435px;
  width:274px;
  height:156px;
  display:flex;
}
#u5589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:444px;
  width:74px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:444px;
  width:75px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:444px;
  width:81px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(187, 186, 186, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:552px;
  width:74px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:172px;
  height:22px;
}
#u5594p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:170px;
  height:8px;
  -webkit-transform:rotate(0.380610296781896deg);
  -moz-transform:rotate(0.380610296781896deg);
  -ms-transform:rotate(0.380610296781896deg);
  transform:rotate(0.380610296781896deg);
}
#u5594p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:8px;
}
#u5594p001 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(89.3806102967819deg);
  -moz-transform:rotate(89.3806102967819deg);
  -ms-transform:rotate(89.3806102967819deg);
  transform:rotate(89.3806102967819deg);
}
#u5594p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5594p002 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-11px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180.380610296782deg);
  -moz-transform:rotate(180.380610296782deg);
  -ms-transform:rotate(180.380610296782deg);
  transform:rotate(180.380610296782deg);
}
#u5594p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:671px;
  width:161px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-89.3806102967819deg);
  -moz-transform:rotate(-89.3806102967819deg);
  -ms-transform:rotate(-89.3806102967819deg);
  transform:rotate(-89.3806102967819deg);
  color:#FD0000;
}
#u5594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 1, 1, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:729px;
  width:106px;
  height:45px;
  display:flex;
  color:#FF0000;
}
#u5595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:735px;
  width:96px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5597_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:213px;
  height:5px;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:752px;
  width:210px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.119102992963668deg);
  -moz-transform:rotate(0.119102992963668deg);
  -ms-transform:rotate(0.119102992963668deg);
  transform:rotate(0.119102992963668deg);
}
#u5597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
