body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1179px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:932px;
}
#u5712_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:932px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5712_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:10px;
  width:544px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u5714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:10px;
  width:73px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
}
#u5715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:10px;
  width:288px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u5716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5712_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:932px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5712_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:57px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:57px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5717 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:817px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:1179px;
  height:817px;
  display:flex;
  color:#000000;
}
#u5718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:688px;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:169px;
  width:1019px;
  height:688px;
  display:flex;
}
#u5719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#828181;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:128px;
  width:74px;
  height:38px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#828181;
}
#u5720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:1147px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0305609934155591deg);
  -moz-transform:rotate(-0.0305609934155591deg);
  -ms-transform:rotate(-0.0305609934155591deg);
  transform:rotate(-0.0305609934155591deg);
}
#u5721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:2px;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:1147px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0305609934155591deg);
  -moz-transform:rotate(-0.0305609934155591deg);
  -ms-transform:rotate(-0.0305609934155591deg);
  transform:rotate(-0.0305609934155591deg);
}
#u5722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:79px;
  width:45px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5723_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5723.mouseOver {
}
#u5723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:79px;
  width:21px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:79px;
  width:71px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5725_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5725.mouseOver {
}
#u5725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:79px;
  width:110px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5727_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5727.mouseOver {
}
#u5727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:79px;
  width:114px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5729_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5729.mouseOver {
}
#u5729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:79px;
  width:24px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:79px;
  width:89px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5731_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5731.mouseOver {
}
#u5731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5733 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:79px;
  width:60px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5733_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5733.mouseOver {
}
#u5733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5734 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:79px;
  width:21px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5735 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:79px;
  width:40px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5735_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5735.mouseOver {
}
#u5735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5736 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:79px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:76px;
  width:84px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5737_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(60, 116, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
}
#u5737.mouseOver {
}
#u5737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:76px;
  width:22px;
  height:38px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:167px;
  width:349px;
  height:186px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:right;
}
#u5739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5740_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:197px;
  width:64px;
  height:16px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
}
#u5740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5740_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
}
#u5740.disabled {
}
#u5741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5741_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#828181;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
  text-align:right;
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:197px;
  width:26px;
  height:12px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
  text-align:right;
}
#u5741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5741_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#828181;
  text-align:right;
}
#u5741.disabled {
}
#u5742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:359px;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:367px;
  width:302px;
  height:359px;
  display:flex;
}
#u5742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:733px;
  width:144px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(121, 39, 162, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:887px;
  width:170px;
  height:45px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:298px;
  height:19px;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:357px;
  width:289px;
  height:1px;
  display:flex;
  color:#FF0000;
}
#u5745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5746_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F90000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5746_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#F90000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:345px;
  width:84px;
  height:22px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5746_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5746.disabled {
}
#u5747_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:357px;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:373px;
  width:1px;
  height:348px;
  display:flex;
  -webkit-transform:rotate(-0.107827630545821deg);
  -moz-transform:rotate(-0.107827630545821deg);
  -ms-transform:rotate(-0.107827630545821deg);
  transform:rotate(-0.107827630545821deg);
  color:#FD0000;
}
#u5747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:538px;
  width:72px;
  height:19px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F90000;
}
#u5748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5748_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:156px;
  background:inherit;
  background-color:rgba(238, 240, 231, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:435px;
  width:274px;
  height:156px;
  display:flex;
}
#u5750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:444px;
  width:74px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:444px;
  width:75px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:444px;
  width:81px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(187, 186, 186, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:552px;
  width:74px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5755_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:172px;
  height:22px;
}
#u5755p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:170px;
  height:8px;
  -webkit-transform:rotate(0.380610296781896deg);
  -moz-transform:rotate(0.380610296781896deg);
  -ms-transform:rotate(0.380610296781896deg);
  transform:rotate(0.380610296781896deg);
}
#u5755p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:8px;
}
#u5755p001 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(89.3806102967819deg);
  -moz-transform:rotate(89.3806102967819deg);
  -ms-transform:rotate(89.3806102967819deg);
  transform:rotate(89.3806102967819deg);
}
#u5755p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5755p002 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-11px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180.380610296782deg);
  -moz-transform:rotate(180.380610296782deg);
  -ms-transform:rotate(180.380610296782deg);
  transform:rotate(180.380610296782deg);
}
#u5755p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5755 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:671px;
  width:161px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-89.3806102967819deg);
  -moz-transform:rotate(-89.3806102967819deg);
  -ms-transform:rotate(-89.3806102967819deg);
  transform:rotate(-89.3806102967819deg);
  color:#FD0000;
}
#u5755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 1, 1, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5756 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:729px;
  width:106px;
  height:45px;
  display:flex;
  color:#FF0000;
}
#u5756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:735px;
  width:96px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5758_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:213px;
  height:5px;
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:752px;
  width:210px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.119102992963668deg);
  -moz-transform:rotate(0.119102992963668deg);
  -ms-transform:rotate(0.119102992963668deg);
  transform:rotate(0.119102992963668deg);
}
#u5758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
