body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1761px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:506px;
}
#u5432_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:506px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5432_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:16px;
  width:544px;
  height:44px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u5434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:16px;
  width:73px;
  height:44px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#3311D4;
}
#u5435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:16px;
  width:288px;
  height:44px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u5436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5432_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:506px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5432_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:108px;
  background:inherit;
  background-color:rgba(140, 140, 140, 1);
  border:none;
  border-radius:35px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:108px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5437 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:398px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:35px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:1761px;
  height:398px;
  display:flex;
}
#u5438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:1px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:170px;
  width:1179px;
  height:1px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u5439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:38px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF00BF;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:143px;
  width:344px;
  height:38px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF00BF;
}
#u5440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:83px;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:190px;
  width:1632px;
  height:83px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
  text-align:right;
}
#u5441 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:273px;
  width:1632px;
  height:154px;
}
#u5443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:40px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:40px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:0px;
  width:159px;
  height:40px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:0px;
  width:142px;
  height:40px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:0px;
  width:183px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
}
#u5447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:0px;
  width:163px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
}
#u5448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:40px;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:0px;
  width:195px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
}
#u5449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:0px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
}
#u5450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:0px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
}
#u5451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:0px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
}
#u5452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:268px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E600A5;
}
#u5453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5453_img.selected {
}
#u5453.selected {
}
#u5453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:38px;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:40px;
  width:164px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u5454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5454_img.selected {
}
#u5454.selected {
}
#u5454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:40px;
  width:159px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#2C00FF;
}
#u5455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5455_img.selected {
}
#u5455.selected {
}
#u5455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:40px;
  width:142px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#067B23;
}
#u5456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5456_img.selected {
}
#u5456.selected {
}
#u5456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:38px;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:40px;
  width:183px;
  height:38px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u5457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5457_img.selected {
}
#u5457.selected {
}
#u5457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:38px;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:40px;
  width:163px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5458_img.selected {
}
#u5458.selected {
}
#u5458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:38px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:40px;
  width:195px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5459_img.selected {
}
#u5459.selected {
}
#u5459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:38px;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:40px;
  width:141px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5460_img.selected {
}
#u5460.selected {
}
#u5460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:40px;
  width:135px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5461_img.selected {
}
#u5461.selected {
}
#u5461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:40px;
  width:82px;
  height:38px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5462_img.selected {
}
#u5462.selected {
}
#u5462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:40px;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:268px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E600A5;
}
#u5463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5463_img.selected {
}
#u5463.selected {
}
#u5463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:78px;
  width:164px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u5464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5464_img.selected {
}
#u5464.selected {
}
#u5464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:78px;
  width:159px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#2C00FF;
}
#u5465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5465_img.selected {
}
#u5465.selected {
}
#u5465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:78px;
  width:142px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FB0404;
}
#u5466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5466_img.selected {
}
#u5466.selected {
}
#u5466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:78px;
  width:183px;
  height:40px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u5467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:78px;
  width:163px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5468_img.selected {
}
#u5468.selected {
}
#u5468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:40px;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:78px;
  width:195px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5469_img.selected {
}
#u5469.selected {
}
#u5469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:78px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:78px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:78px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:268px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E600A5;
}
#u5473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5473_img.selected {
}
#u5473.selected {
}
#u5473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:118px;
  width:164px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u5474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5474_img.selected {
}
#u5474.selected {
}
#u5474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:118px;
  width:159px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#2C00FF;
}
#u5475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5475_img.selected {
}
#u5475.selected {
}
#u5475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:118px;
  width:142px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF00BF;
}
#u5476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5476_img.selected {
}
#u5476.selected {
}
#u5476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:118px;
  width:183px;
  height:36px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u5477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:118px;
  width:163px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5478_img.selected {
}
#u5478.selected {
}
#u5478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:118px;
  width:195px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5479_img.selected {
}
#u5479.selected {
}
#u5479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:118px;
  width:141px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:118px;
  width:135px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:118px;
  width:82px;
  height:36px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u5482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:227px;
  width:18px;
  height:12px;
  display:flex;
}
#u5483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5483_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u5484 label {
  left:0px;
  width:100%;
}
#u5484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:327px;
  width:17px;
  height:16px;
  display:flex;
}
#u5484 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5484_img.mouseOver {
}
#u5484.mouseOver {
}
#u5484_img.selected {
}
#u5484.selected {
}
#u5484_img.disabled {
}
#u5484.disabled {
}
#u5484_img.selectedDisabled {
}
#u5484.selectedDisabled {
}
#u5484_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5484_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5485 label {
  left:0px;
  width:100%;
}
#u5485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:367px;
  width:17px;
  height:16px;
  display:flex;
}
#u5485 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5485_img.mouseOver {
}
#u5485.mouseOver {
}
#u5485_img.selected {
}
#u5485.selected {
}
#u5485_img.disabled {
}
#u5485.disabled {
}
#u5485_img.selectedDisabled {
}
#u5485.selectedDisabled {
}
#u5485_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5485_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:129px;
  width:61px;
  height:54px;
  display:flex;
}
#u5486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5486_img.mouseOver {
}
#u5486.mouseOver {
}
#u5486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5488_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5488_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:35px;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:191px;
  width:122px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8C8C8C;
  text-align:right;
}
#u5488 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5488_img.mouseOver {
}
#u5488.mouseOver {
}
#u5488_img.disabled {
}
#u5488.disabled {
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5490_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 4px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:226px;
  width:122px;
  height:30px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8C8C8C;
  text-align:right;
}
#u5490 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5490_img.disabled {
}
#u5490.disabled {
}
#u5491 label {
  left:0px;
  width:100%;
}
#u5491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:405px;
  width:17px;
  height:16px;
  display:flex;
}
#u5491 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5491_img.mouseOver {
}
#u5491.mouseOver {
}
#u5491_img.selected {
}
#u5491.selected {
}
#u5491_img.disabled {
}
#u5491.disabled {
}
#u5491_img.selectedDisabled {
}
#u5491.selectedDisabled {
}
#u5491_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5491_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5492 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:129px;
  width:136px;
  height:54px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5492_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5492.mouseOver {
}
#u5492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:129px;
  width:136px;
  height:54px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5493_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5493.mouseOver {
}
#u5493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:129px;
  width:113px;
  height:54px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5494_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5494.mouseOver {
}
#u5494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5495_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:316px;
  width:261px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5495_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5495.disabled {
}
#u5496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5496_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:352px;
  width:261px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5496_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5496.disabled {
}
#u5497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5497_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:392px;
  width:261px;
  height:30px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5497_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5497.disabled {
}
#u5498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:129px;
  width:136px;
  height:54px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5498_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5498.mouseOver {
}
#u5498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:129px;
  width:174px;
  height:54px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5499_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5499.mouseOver {
}
#u5499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:129px;
  width:136px;
  height:54px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5500_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u5500.mouseOver {
}
#u5500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
