body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:852px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:981px;
}
#u4587_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:981px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4587_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:25px;
  width:544px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
  text-align:right;
}
#u4589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
  color:#3311D4;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:25px;
  width:73px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:underline ;
  color:#3311D4;
}
#u4590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:25px;
  width:288px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#E600A6;
}
#u4591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4587_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:981px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4587_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:63px;
  background:inherit;
  background-color:rgba(140, 140, 140, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:63px;
  display:flex;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
}
#u4592 .text {
  position:absolute;
  align-self:center;
  padding:2px 7px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:918px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:852px;
  height:918px;
  display:flex;
}
#u4593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF00BF;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:88px;
  width:101px;
  height:38px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF00BF;
}
#u4594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:78px;
  width:107px;
  height:45px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4595_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4595.mouseOver {
}
#u4595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:797px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#DDDDDD;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:127px;
  width:728px;
  height:797px;
  display:flex;
  color:#DDDDDD;
}
#u4596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:21px;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:142px;
  width:676px;
  height:21px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4597 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4598 label {
  left:0px;
  width:100%;
}
#u4598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:195px;
  width:16px;
  height:12px;
  display:flex;
}
#u4598 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4598_img.selected {
}
#u4598.selected {
}
#u4598_img.disabled {
}
#u4598.disabled {
}
#u4598_img.selectedDisabled {
}
#u4598.selectedDisabled {
}
#u4598_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4598_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:188px;
  width:32px;
  height:21px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:right;
}
#u4599 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4599_img.mouseOver {
}
#u4599.mouseOver {
}
#u4599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4600 label {
  left:0px;
  width:100%;
}
#u4600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:193px;
  width:16px;
  height:12px;
  display:flex;
}
#u4600 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4600_img.selected {
}
#u4600.selected {
}
#u4600_img.disabled {
}
#u4600.disabled {
}
#u4600_img.selectedDisabled {
}
#u4600.selectedDisabled {
}
#u4600_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4600_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:186px;
  width:59px;
  height:21px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:right;
}
#u4601 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4601_img.mouseOver {
}
#u4601.mouseOver {
}
#u4601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:186px;
  width:118px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4602 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4603_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:55px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u4603_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:55px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u4603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:250px;
  width:421px;
  height:55px;
  display:flex;
}
#u4603 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4603_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:55px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4603.disabled {
}
#u4604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:334px;
  width:156px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4604 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4606_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:341px;
  width:421px;
  height:35px;
  display:flex;
}
#u4606 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4606_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4606.disabled {
}
.u4606_input_option {
}
#u4607_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:75px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4607_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:75px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:376px;
  width:421px;
  height:75px;
  display:flex;
}
#u4607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4607_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:75px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4607.disabled {
}
#u4608_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4608_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:587px;
  width:421px;
  height:25px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u4608 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4608_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u4608.disabled {
}
.u4608_input_option {
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:244px;
  width:156px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4609 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:21px;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:487px;
  width:164px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4610 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:21px;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:538px;
  width:164px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4611 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4612_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:23px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4612_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:23px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:487px;
  width:421px;
  height:23px;
  display:flex;
}
#u4612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4612_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:23px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4612.disabled {
}
#u4613_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4613_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:537px;
  width:421px;
  height:25px;
  display:flex;
}
#u4613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4613_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4613.disabled {
}
#u4614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:21px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:587px;
  width:99px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4614 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:687px;
  width:111px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4615 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0060;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:305px;
  width:192px;
  height:12px;
  display:flex;
  opacity:0.69;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0060;
}
#u4616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:696px;
  width:421px;
  height:115px;
}
#u4617_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:115px;
  overflow:scroll;
}
#u4618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:841px;
  width:107px;
  height:45px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u4618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4618_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A408BF;
}
#u4618.mouseOver {
}
#u4618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:78px;
  width:107px;
  height:45px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4619_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(164, 8, 191, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u4619.mouseOver {
}
#u4619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0060;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:452px;
  width:396px;
  height:12px;
  display:flex;
  opacity:0.69;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0060;
}
#u4620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:21px;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:638px;
  width:99px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4621 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4622_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:637px;
  width:421px;
  height:25px;
  display:flex;
}
#u4622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4622_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4622.disabled {
}
#u4623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0060;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:209px;
  width:519px;
  height:12px;
  display:flex;
  opacity:0.69;
  font-family:'2  Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0060;
}
#u4623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
